@font-face {
    font-family: 'Shentox';
    src: url('fonts/ShentoxTRIAL-Rg.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Shentox';
    src: url('fonts/ShentoxTRIAL-SmBd.otf');
    font-weight: bold;
    font-style: normal;
}
* {
    font-family: 'Shentox', sans-serif;
}

h1, h4, h5,
h6,
p {
    margin: 0px;
    color: white;
}

h5 {
    font-weight: 600;
}

p {
    font-size: x-small;
    color: white;
}
body {
    margin: 0;
}

#mainbox {
    background-color: #1f375b;
    /* background-image: linear-gradient(hsl(240, 100%, 10%),
            hsl(240, 100%, 25%)); */
    border-radius: 10px;
    width: 100%;
    overflow: hidden;
}

#imagebox {
    background-image: url("https://static.wixstatic.com/media/6435b6_c1158f35dad54152afc81f10429b4ea5~mv2.png");
    background-size: contain;
}

#icon {
    /* margin: 10px auto; */
    padding: 20px;
    height: 50px;
    display: block;
}

#tagline {
    margin-top: 0px;
    color: black;
}

header {
    /* #d8e8dc; */
    display: inline-block;
}

section {
    position: relative;
    display: inline-block;
    width: 100%;
    border-radius: 10px;
    /* margin: 0 20px 20px 20px; */
}

.crest {
    height: 25px;
    width: 25px;
    margin: 0 10px;
    border: 1px solid #1b1b1b;
    border-radius: 100px;
    background-color: #1b1b1b;
}

.teamname {
    line-height: 25px;
    margin-top: 0;
    margin-bottom: 0;
}

#score {
    margin: auto;
}

#scoreline {
    margin: 10px 80px;
    display: flex;
}

#scorelinewrapper {
    display: inline-block;
    width: calc(100% - 40px);
    margin: 0px 20px;
    border: 2px solid white;
    border-radius: 100px;
    /* background-color: #293142;
    background-image: linear-gradient(90deg,
       #fdb927 -10%, 
       #293142 20%, 
       #293142 80%,
       #ce1141 110%); */
    /* box-shadow: 0px 0px 10px 0px black; */
    margin-top: 10px;
}

#stats {
    display: flex;
    margin: 0px 20px;
}

#teaminfo {
    margin: 0 auto;
    width: 100%;
}

#livestats {
    width: 100%;
    padding: 10px;
    /* border-left: 2px solid white; */
    /* border-bottom: 2px solid white; */
    text-align: center;
}

.livestatsrow {
    display: flex;
    margin: 5px;
}

.livestatsrow .livestatname {
    margin: 0 auto;
}

#livestats img {
    padding: 10px;
    width: 40%;
    float: initial;
}

#time {
    text-align: center;
    margin: 0 0 auto 0;
}

#teaminfo h6 {
    text-align: center;
    margin: auto 0 0 0;
}

#teaminfo {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.playerrow {
    display: flex;
    padding-top: 5px;
    /* border-bottom: 2px solid white; */
}

.playerrow img {
    width: 30px;
    height: 30px;
    background-color: #293142;
    border-radius: 50%;
    border: 2px solid white;
    object-fit:cover;
}

.spacer {
    width: 100%;
}

.playerdetails {
    width: 100%;
    margin: 0;
}

.playerdetails p {
    text-align: center;
}
.wagerbutton {
    width: 25%;
    border-radius: 0px;
    border: none;
    padding: 10px;
    background-color: white;
    color: #1b1b1b;
}
#wagersubmit {
    display: flex;
}
#wagerselector {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    border-radius: 0px;
    padding: 10px;
    padding-top: 0px;
    background-color: white;
    /* border: 1px solid white;
    background-color: white; */
}
#wagerselector h1 {
    color: black;
    width: 100%;
    text-align: center;
}
#betsubmit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
#submitbutton {
    width: 100%;
    margin: 0px;
    margin-top: 5px;
    background-color: #40e776;
    color: rgba(0, 0, 0, 0.5);
    font-size: medium;
    padding: 5px;
    border: none;
    border-radius: 5px;
}

#betsubmit h4 {
    height: 100%;
    text-align: center;
    vertical-align: middle;
    position: relative;
    top: 15%;
    padding: auto;
    font-size: 30px;
}

#betsubmit p {
    position: relative;
    width: 0px;
    height: 0px;
    top: 4px;
    left: 4px;
}

bet-selector {
    color: black;
    background-color: white;
    font-size: 30px;
    font-family: 'Electrolize';
    border-radius: 0px;
    --box-color: white;
    --text-highlight-color: #1493ff;
    --odds-font-size: 40px;
}